build/
.sconsign.dblite
.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
Makefile
.mxproject
.vscode/BROWSE.VC.DB
.vscode/BROWSE.VC.DB-shm
.vscode/BROWSE.VC.DB-wal
